/*importamos las fonts desde fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap');

/*selector universal (reset)*/
*{
    margin: 0;
    padding: 0;font-family: 'STIX Two Text', serif; font-size: 2rem;
    box-sizing: border-box;
}

/*selectores de etiqueta*/
h1{
    color: green;
}
h2{
    color: lightcoral;
}
h3{
    color: orange;
}

a{
    color: white; text-decoration: none; font-size: 18px;
}

p{
    font-size: 18px; line-height: 24px;
    letter-spacing: 2px;
    word-spacing: 4px;
}

nav ul li a{ 
    color: rgb(128, 58, 0);
}
/*selectores de clase*/
.blue{
    color: navy;
}
.red{
    color: rgb(230, 17, 59);
}
.violet{
    color: darkviolet;
}
.orange{
    color: darkorange;
}
/*selectores de ID*/

/*imagen de fondo*/
body{
    background-color: rgb(217, 236, 145);background-repeat: no-repeat;background-position: center top; background-size: 100%;
}

/*color de fondo con alpha*/
nav{
    background-color: rgba(255, 255, 255, 0.2); padding: 10px;
}

/*selector descendente */
nav ul li a {
    font-style: italic; font-size: 2rem; font-weight: 600; font-family: 'STIX Two Text', serif; text-decoration: none; text-transform: uppercase;
}

nav ul li a:hover {
    text-decoration: underline;
}
/*selector de grupos*/
h1, h2, h3 {
    font-style: italic; font-weight: 600;
}

/*selector de clase */
.textCenter{
    text-align: center;
    width: 100%;
}

.textLeft{
    text-align: left;
}

.textRight{
    text-align: right;
}

nav ul li{
    margin-left: 50px; list-style: none; list-style-position: inside; list-style: none; display: inline-block;margin-left: 20px;
}

/*definimos que los rem van a valor 10px, no lo defino tomo font size */
html{
    font-size: 62.5%;
}


#caja1{
    width: 100%; background-color: grey; color: white; padding: 10px; float: left;box-sizing: border-box;
}

#caja2{
    width: 100%; background-color: rgb(134, 16, 16); color: white; padding: 10px; float: right;box-sizing: border-box;
}

#caja3{
    width: 100%; background-color: white; color: black; clear: both;border: double black 5px; margin-top: 10px;
}

#caja4{
    width: 100%; background-color: cornflowerblue; color: black; overflow: scroll; padding: 10px;
}

/*border-style: double;border-color: blueviolet; border-width: 5px*/


nav ul{
    float: right;margin-bottom: 20px;
}

footer{
    background-color: white;text-align: center;
    position: fixed;bottom: 0;width: 100%;
}

footer img{
    position: fixed;right: 20px; bottom: 30px;
}

ul{
    list-style: none;
    background-color: tomato; font-size: 0; padding: 20px;
}

li{
    display: inline-block;width: 25%; position: relative; font-size: 14px;
}

ul ul{
    position: absolute;display: none;
}

    ul ul li{
        display: block;
    }
    ul li:hover ul{
        display: block;
    }

a{
    color: white;text-decoration: none; font-size: 2rem;
}

header nav ul{
    display: flex; justify-content: space-between; margin-bottom: 20px;
    }

    header nav ul li {
        width: 23%; text-align: center; list-style: none; background-color: rgb(207, 192, 192);
    }

    header ul li a {
        text-decoration:none; color: black; font-size: 1rem;
    }

    header ul li a:hover{
         text-decoration: underline;
    }

body{
    background-color: burlywood; padding: 4px; 
}

main{
    display: flex;
}

article, aside, footer{
    background-color: cadetblue;margin: 1px; padding: 10px;
}

article{
    flex-basis: 40vw; display: flex; flex-direction: column-reverse;align-items: center;justify-content: center; 
}

aside{
    flex-basis: 20vw; flex-direction: column;align-items: center;justify-content: center;
}

.img-500{
    width: 500px;
}

.img-300{
    width: 300px;
}

footer{
    display: flex; justify-content: center;
}

.logo_img {
    height: auto;
    width: auto;
    max-height: 100px;
    max-width: 100px;
    display: block;
}

.portada{
    background: lightcoral;
    width: 100%; height: 250px;
}

.subscriber-pana {
    position: relative;
    width: 250px;
   height: 270px;
   margin:0 auto;
   display: flex;justify-content: center;
   align-items: center; text-align: center  ;
   
}

.img-footer{
    height: auto;
    width: auto;
    max-height: 100px;
    max-width: 100px; 
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.big_animate{
    width: 100%;
    max-width: 100vh;
    background: linear-gradient(to right, rgb(211, 31, 61), pink); 
}

.header_nav{
    width: 100%;    
}


.header_nav nav a{
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.banner_title h2{
    color: #fff;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 20px;
}

.banner_title .registrate{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    background: #1A2849;
    padding: 20px;
}

.banner_img{
    animation: movimiento 2.5s linear infinite;
}

.banner_img img{
    width: 600px;
    display: flex;
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}

.container{
    position: relative;
    width: 100%;
    margin-left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: coral;
}
